@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}
.card-header {
  font-size: 30px;
  align-self: flex-start;
  text-shadow: 1.5px 1.5px grey;
}
.card-footer {
  align-self: flex-end;
  font-size: 30px;
  text-shadow: 1.5px 1.5px grey;
  transform: rotateX(180deg);
}

.card-text {
  font-size: 65px;
  text-shadow: 1.5px 1.5px grey;
}

.card {
  justify-content: space-between;
  height: 444.5px;
  width: 285.5px;
  box-shadow: 8px 5px 10px -1px black;
}

.red {
  color: red;
}

.button {
  box-shadow: 8px 5px 10px -1px black;
}
